<!DOCTYPE html>
<html>
<head>
    <title>Property Listing</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,
        body {
            width: 100%;
            min-height: 100vh;
        }
        
        nav {
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

        @media (max-width: 900px) {
            #listing{
                width: 70vw;
            }
        }
        @media (max-width: 600px) {
            #listing{
                width: 80vw;
            }
        }
        @media (max-width: 450px) {
            #listing{
                width: 90vw;
            }
        }
    </style>
</head>
<body class="h-full flex flex-col">
    <%- include('./layouts/nav.ejs') %>
    <div class="flex-1">
        <div id="listing" class="flex flex-col w-[50vw] h-full mx-auto p-5 gap-5">
            <p class="text-4xl font-semibold"><%= card.title %></p>
            <img src="<%= card.image[0] %>" alt="" class="w-full rounded-3xl">
            <p class="font-semibold"><%= card.description %></p>
            <p>$ <%= card.price %> / Night</p>
            <p><%= card.location %> , <%= card.country %></p>
            <div>
                <button id="editButton" onclick="move('<%= card.id %>',true)" class="bg-[#ff385c] px-4 py-2 rounded-lg text-white">Edit</button>
                <button class="bg-gray-500  px-4 py-2 rounded-lg text-white" onclick="move('<%= card.id %>',false)">Delete</button>
            </div>
        </div>
    </div>

    <%- include('./layouts/footer.ejs') %>

    <script>
        function move(id,isEdit){
            if(isEdit){
                let url = `/listing/edit/${id}`;
                window.location.href = url;
            }else{
                let url = `/listing/delete/${id}`;
                window.location.href = url;
            }
        }
    </script>
</body>
</html>