<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/listing.css" />
    <title>Home Page</title>
  </head>

  <body class="min-h-screen flex flex-col">
    <%- include('./layouts/nav.ejs') %>

    <main class="w-full bg-[#f9f9f9] flex-1">
      <section class="relative p-5 my-5 rounded-lg max-w-screen-2xl mx-auto">
        <div id="category" class="pb-4 flex items-center gap-3 flex-wrap justify-center">
          <div data-category="all" class="categroies activeCategory cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/1.webp" alt="" class="w-8"><p class="text-xs text-center">All</p></div>
          <div data-category="amazing-views" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/2.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Amazing<br>Views</p></div>
          <div data-category="amazing-pools" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/3.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Amazing<br>Pools</p></div>
          <div data-category="castles" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/4.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Castles</p></div>
          <div data-category="top-of-the-world" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/5.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Top of the world</p></div>
          <div data-category="farms" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/6.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Farms</p></div>
          <div data-category="treehouses" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/7.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Treehouses</p></div>
          <div data-category="omg" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/8.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">OMG!</p></div>
          <div data-category="beachfront" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/9.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Beachfront</p></div>
          <div data-category="cabins" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/10.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Cabins</p></div>
          <div data-category="luxe" class="categroies cursor-pointer py-2 px-4 opacity-50 hover:opacity-100 flex flex-col items-center"><img src="images/11.jpg" alt="" class="w-[30px]"><p class="text-xs text-center">Luxe</p></div>
          <!-- Tax Switch -->
          <div id="taxButton" class="px-4 py-2 border-2 rounded-xl border-bg-zinc-900 flex items-center gap-2 cursor-pointer">
            <input type="checkbox" class="cursor-pointer" role="switch">
            <label for="flexSwitchCheckChecked" class="cursor-pointer"> Show Taxes</label>
          </div>
        </div>
        <div class="flex justify-between flex-col md:flex-row my-2 max-md:items-center gap-2">
          <h1 class="text-4xl font-semibold">All Listings</h1>
          <h1 class="text-xl text-[#ff385c] text-end"><%= message %></h1>
        </div>
        <div id="listingscontainer" class="w-full grid gap-5">
            <% properties.forEach(property => { %>
                <div class="card" data-id="<%= property._id %>">
                  <div class="cardimg rounded-lg h-[300px] bg-cover" style="background-image: url('<%= property.image.path %>');"></div>
                  <p class="text-xl"><%= property.title %></p>
                  <p>$<%= property.price %> /Night</p>
                  <i class="taxprices hidden"> + 18% GST = $<%= Math.floor( property.price * 1.18 ) %> /Night</i>
                </div>
            <% }); %>
        </div>
      </section>
    </main>

    <%- include('./layouts/footer.ejs') %>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/showListings.js"></script>
  </body>
</html>
